* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d021a;
}

.navbar {
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #120024, #2a004f);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.logo span{
   background: linear-gradient(to top right, #ffd84d,#ff2fcf,#8a2bff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #d1cfe0;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.btn {
  padding: 10px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(to top right, #ffd84d, #ff2fcf,#8a2bff);
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}


.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bg-wrap {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.bg-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-wrap {
  position: relative;
  z-index: 2;
}


.badge {
  position: absolute;
  top: 10px;
  right: 25px;
  background: #00ff9c;
  color: #000;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.round-wrap {
  position: relative;
  width: 285px;
  height: 285px;
  left: 80px;
}

.round-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mic-img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.title {
  margin-top: 40px;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.subtitle {
  max-width: 520px;
  margin: 10px auto 25px;
  font-size: 14px;
  color: rgba(255,255,255,0.75);
  text-align: center;
}

.btnn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btnn {
  padding: 12px 22px;
  border-radius: 25px;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btnn-spotify {
  border: 1px solid #00ff9c;
  color: #00ff9c;
}
.btnn-subscribe {
  border: 1px solid #00ff9c;
  color: #00ff9c;
}
.btnn:hover {
  background: linear-gradient(to top right, #ffd84d, #ff2fcf, #8a2bff);
  color: #000;
  border-color: transparent;
}

.about-section {
  padding: 50px 200px 150px;
  background:
    #2b0b4ed3;
}

.about-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  
}

.about-content h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}
.about-content .desc {
  font-size: 16px;
  line-height: 1.7;
  color: #ffffff;
  margin-bottom: 25px;
}
.about-section hr{
  width: 100%;
  height: 1px;
  color: #747272b0;
  margin-top: 10px;
  
}

.about-content .sub-desc {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 100px;
}
.stats {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.stat-box h3 {
  font-size: 36px;
  font-weight: 700;
  color: #19f7a3;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bfb6d6;
}


