* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d021a;
}

.navbar {
  height: 80px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #120024, #2a004f);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.logo span{
   background: linear-gradient(to top right, #ffd84d,#ff2fcf,#8a2bff );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #d1cfe0;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #fff;
}

.btn {
  padding: 10px 22px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(to top right, #ffd84d, #ff2fcf,#8a2bff);
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}


.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


